body{
    background-color: #fff;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #070A21;
  }

#logo{
    font-size: 44px;
    font-weight: bold;
    border-bottom: 1px solid #d9dadc;
    padding: 25px 0 25px;
    margin-bottom: 30px;
    text-align: center;
  }

  h5{
      font-size: 18px;
  }

  .error{
    display: block;
    background-color: #e22134;
    padding: 14px 14px 12px;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    width: 100%;
  }

  form{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9dadc;
  }

  main{
      text-align: center;
      margin: 0 auto;
      max-width: 450px;
  }

  .username, .password{
      width: 100%;
      text-align: left;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
  }

  input{
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #d9dadc;
    margin-top: 5px;
    font-size: 16px;
  }

  .submit-container{
    display: flex;
    align-items: center;
  }

  .remember{
    display: flex;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
  }

  .remember input{
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  .remember label{
    font-size: 18px;
    padding-left: 10px;
    color: #616467;
    margin-top: 3px;
  }

  .login-btn{
    width: 50%;
    padding-right: 15px;
  }

  .login-btn input{
    border-radius: 50px;
    padding: 16px 14px 18px;
    margin-left: 15px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #fff;
    background-color: #10142d;
    transition-property: background-color;
    transition-duration: .3s;
  }

  .login-btn input:hover{
    cursor: pointer;
    background-color: #3948ab;
  }

  .signup{
    margin: 10px 0;
  }

  h4{
    font-size: 20px;
    font-weight: bold;
  }

  .signup-btn-container{
    padding-right: 30px;
  }

  .signup-btn{
    display: block;
    border-radius: 50px;
    border: 3px solid #616467;
    padding: 16px 14px 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #616467;
    line-height: 1;
    letter-spacing: 2px;
    width: 100%;
    transition-property: background-color, color;
    transition-duration: .3s;
  }

  .signup-btn:hover{
    border-radius: 50px;
    background-color: #616467;
    color: #fff;
    padding: 16px 14px 18px;
  }